.result {
    float: left;
    width: 120px;

    padding: 5px;
    margin: 10px 10px 10px 10px;

    background-color: #DDDDDD;
}

.result a.username {
    display: block;
    text-align: center;
}

.result .gravatar {
    padding: 5px 0 0 0;
    text-align: center;
}
