#path_results {
    width: 500px;
}

.path_component {
    word-wrap: break-word;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.author_path_component {
    width: 100px;
    height: 130px;
}

.project_path_component {

    vertical-align: center;
}

.project_path_component .project_link {
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    background: #84D1F0;
    border-radius: 15px;
    display: inline-block;
}

.project_path_component p.project_link {
    padding: 0 3em;
}

.project_path_component {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.project_path_component .arrow_container {
    display: block;
    padding: 10px 0 10px 0;
}

.project_path_component img {
    vertical-align: middle;
}

.result a.username {
    display: block;
    text-align: center;
}

.user_with_picture .gravatar {
    margin: 5px;
    text-align: center;
}

.user_with_picture {
    padding: 3px 0px 3px 0px;
    background: #93F5B0;

    border-radius: 15px;
}

.user_with_picture a.username {
    text-align: center;
    width: 100%;
    display: block;
    padding: 0 0 5px 0;
}
