#path_results {
    width: 500px;
}

.path_component {
    clear: both;
    word-wrap: break-word;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.author_path_component {
    width: 100px;
    height: 120px;
}

.project_path_component {
    height: 75px;
    width: 350px;

    vertical-align: center;
}

.project_path_component .project_link {
    text-align: center;
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    background: #84D1F0;
    border-radius: 15px;
}

.project_path_component img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result a.username {
    display: block;
    text-align: center;
}

.user_with_picture .gravatar {
    margin: 5px;
    text-align: center;
}

.user_with_picture {
    padding: 3px 0px 3px 0px;
    background: #93F5B0;
    float: left;

    border-radius: 15px;
}

.user_with_picture a.username {
    text-align: center;
    width: 100%;
    display: block;
    padding: 0 0 5px 0;
}
